table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }


.custom-card-title {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #383857;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center; /* Centra el texto horizontalmente */
  margin: 0; /* Remueve márgenes predeterminados para permitir un centrado más exacto */
}

.delete {
  cursor: pointer;
  color:#E15639;
}

.edit {
  cursor: pointer;  
  color:#1878B0;
}

.view {
  cursor: pointer;  
}

