<mat-card class="form-card">
      <mat-card-header class="form-header-card">
        <mat-card-title>USUARIO</mat-card-title>
        <mat-card-subtitle>información</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <p><strong>Nombre:</strong> Francisco</p>
        <p><strong>Email:</strong> javiercoltap@gmail.com</p>
        <p><strong>Activo:</strong> Si</p>
        <p><strong>Email Confirmado:</strong> Si</p>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button [routerLink]="['/main/users']" type="button">Volver</button>
      </mat-card-actions>
  </mat-card>

