/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.input-container .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.info {
  color: #31708f;
  background: #d9edf7;
}

.success {
  color: #3c763d;
  background: #dff0d8;
}

.error {
  color: #a94442;
  background: #f2dede;
}

.warning {
  color: #8a6d3b;
  background: #fcf8e3;
}

.form-card {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 98%;
}

.form-header-card {
  justify-content: center;
  align-items: center;
  text-align: center
}

mat-form-field[hidden] {
  display: none;
}

.filter {
  display: block;
}

table {
  width: 100%;
}

.header {
  padding: 5px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #3f51b5;
}

.mat-drawer-side {
  border-right: none !important;
}

.mat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.mat-cell,
.mat-header-cell {
  padding: 0px 15px !important;
  white-space: nowrap;
}

.breadcrumbs{
  text-align: left !important;
}

.nav {
  text-align: center;
  width: 100%;

  ul {
    list-style: none;
    padding: 0;
    li{
      display: inline-block;
      padding: 10px;
    }
  }
}

footer {
    background-color: #383857; /* Color de fondo */
    color: white; /* Color de texto */
    text-align: center; /* Alinea el texto al centro */
    padding: 5px 10px; /* Espaciado interno */
    position: fixed; /* Fija el footer en la parte inferior */
    left: 0;
    bottom: 0;
    width: 100%; /* Ancho completo */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3); /* Sombra para dar efecto elevado */
  }

  
